body
{
    font-family: Segoe UI, sans-serif;
    background-color: #333333;
    color: white;
}

h1 strong
{
    color: red;
}

a
{
    color: #77aaff;
}

a:visited
{
    color: #aaaaff;
}

table
{
    border-spacing: 0;
    border-collapse: collapse;
}

tr:nth-child(even)
{
    background-color: #444444;
}

tr:hover
{
    background-color: #555555;
}

td
{
    padding: 2px 5px;
}

td:last-child
{
    text-align: right;
}

.igblink
{
    color: orange;
    text-decoration: underline;
    cursor: pointer;
}
